<?xml version="1.0"?>

<!DOCTYPE web-app
	PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>net.spy.photo.photoresources</param-value>
	</context-param>

	<!-- Watch the sessions -->
	<listener>
		<listener-class>net.spy.photo.SessionWatcher</listener-class>
	</listener>

	<!-- Persistent objects -->
	<servlet>
		<servlet-name>Persistent</servlet-name>
		<servlet-class>net.spy.photo.Persistent</servlet-class>
		<init-param>
			<param-name>configFile</param-name>
			<param-value>/WEB-INF/photo.conf</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- The main image servlet -->
	<servlet>
		<servlet-name>PhotoServlet</servlet-name>
		<servlet-class>net.spy.photo.PhotoServlet</servlet-class>
	</servlet>

	<!-- The XMLRPC interface -->
	<servlet>
		<servlet-name>XMLRPCServlet</servlet-name>
		<servlet-class>net.spy.photo.XMLRPCServlet</servlet-class>
	</servlet>

	<!-- The action servlet -->
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>application</param-name>
			<param-value>net.spy.photo.photoresources</param-value>
		</init-param>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>validate</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>maxFileSize</param-name>
			<param-value>5M</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<!-- Normal mapping -->
	<servlet-mapping>
		<servlet-name>PhotoServlet</servlet-name>
		<url-pattern>/PhotoServlet</url-pattern>
	</servlet-mapping>

	<!-- Mapping with path-info -->
	<servlet-mapping>
		<servlet-name>PhotoServlet</servlet-name>
		<url-pattern>/PhotoServlet/*</url-pattern>
	</servlet-mapping>

	<!-- XMLRPC servlet mapping -->
	<servlet-mapping>
		<servlet-name>XMLRPCServlet</servlet-name>
		<url-pattern>/RPC2</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.do</welcome-file>
	</welcome-file-list>

	<!-- How errors are done -->
	<error-page>
		<!-- This will deal with *all* exceptions. -->
		<exception-type>java.lang.Exception</exception-type>
		<location>/error.jsp</location>
	</error-page>

	<!-- Photo TLD -->
	<taglib>
		<taglib-uri>/tlds/photo.tld</taglib-uri>
		<taglib-location>/WEB-INF/tlds/photo.tld</taglib-location>
	</taglib>

	<!-- Struts templates -->
	<taglib>
		<taglib-uri>/tlds/struts-template.tld</taglib-uri>
		<taglib-location>/WEB-INF/tlds/struts-template.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/tlds/struts-html.tld</taglib-uri>
		<taglib-location>/WEB-INF/tlds/struts-html.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/tlds/struts-bean.tld</taglib-uri>
		<taglib-location>/WEB-INF/tlds/struts-bean.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/tlds/struts-form.tld</taglib-uri>
		<taglib-location>/WEB-INF/tlds/struts-form.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/tlds/struts-logic.tld</taglib-uri>
		<taglib-location>/WEB-INF/tlds/struts-logic.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/tlds/struts-tiles.tld</taglib-uri>
		<taglib-location>/WEB-INF/tlds/struts-tiles.tld</taglib-location>
	</taglib>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Templates</web-resource-name>
			<url-pattern>/content/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>denied</role-name>
		</auth-constraint>
	</security-constraint>

	<security-role>
		<description>Nobody ever directly accesses this stuff.</description>
		<role-name>denied</role-name>
	</security-role>

</web-app>
