<?xml version="1.0"?>

<!DOCTYPE web-app
	PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
	"http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- Persistent objects -->
	<servlet>
		<servlet-name>Persistent</servlet-name>
		<servlet-class>net.spy.photo.Persistent</servlet-class>
		<init-param>
			<param-name>configFile</param-name>
			<param-value>/WEB-INF/photo.conf</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- The main image servlet -->
	<servlet>
		<servlet-name>PhotoServlet</servlet-name>
		<servlet-class>net.spy.photo.PhotoServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PhotoServlet</servlet-name>
		<url-pattern>/PhotoServlet</url-pattern>
	</servlet-mapping>

	<!-- The action servlet -->
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>application</param-name>
			<param-value>net.spy.photo.photoresources</param-value>
		</init-param>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>validate</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<!-- Photo TLD -->
	<taglib>
		<taglib-uri>/tlds/photo.tld</taglib-uri>
		<taglib-location>/WEB-INF/tlds/photo.tld</taglib-location>
	</taglib>

	<!-- Struts templates -->
	<taglib>
		<taglib-uri>/tlds/struts-template.tld</taglib-uri>
		<taglib-location>/WEB-INF/tlds/struts-template.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/tlds/struts-html.tld</taglib-uri>
		<taglib-location>/WEB-INF/tlds/struts-html.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/tlds/struts-bean.tld</taglib-uri>
		<taglib-location>/WEB-INF/tlds/struts-bean.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/tlds/struts-form.tld</taglib-uri>
		<taglib-location>/WEB-INF/tlds/struts-form.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/tlds/struts-logic.tld</taglib-uri>
		<taglib-location>/WEB-INF/tlds/struts-logic.tld</taglib-location>
	</taglib>

</web-app>
