# arch-tag: 2B48F15B-5D6F-11D9-8E72-000A957659CC
# handlers=java.util.logging.ConsoleHandler
handlers=java.util.logging.FileHandler
java.util.logging.FileHandler.level=ALL
java.util.logging.FileHandler.formatter=java.util.logging.SimpleFormatter
java.util.logging.FileHandler.pattern=,static.log
net.spy.level=ALL
net.spy.level=ALL
